body{
    background-color: wheat;
}

header{
    display: flex;
    flex-direction: row;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    margin-left: 80px;
}

hr{
    width: 98%;
    border: solid 8px rgb(20, 37, 20);
}

section{
    width: 900px;
    height: 600px;
    border: solid 3px green;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

a{
    margin: 10px;
}