body{
    background-color: wheat;
}

header{
    display: flex;
    flex-direction: row;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    margin-left: 80px;
}

hr{
    width: 98%;
    border: solid 8px rgb(20, 37, 20);
}

section{
    width: 900px;
    height: 600px;
    border: solid 3px green;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(230, 199, 143);
}

.linkpagina{
    margin: 15px;
}

h3{
    color: green;
    text-align: center;
}

h2{
    color: rgb(26, 54, 26);
    text-align: center;
}

#revisao{
    width: 250px;
    height: 100px;
    background-color: rgb(11, 34, 11);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: wheat;
}



